@media screen and (min-width: 720px) and (max-width: 1920px) {

* {
margin: 0;
padding: 0;
box-sizing: border-box;
line-height: 2.0;
}

body {
overflow: hidden;
}

article {
display: flex;
flex-direction: row;
}

section {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
width: calc(100vw/2);
height: 50vh;
transition: 0.7s;
margin-top: 0;
}

.right {
display: flex;
flex-direction: row-reverse;
}

section:hover {
-webkit-transform: scale(0.98);
-ms-transform: scale(0.98);
transform: scale(0.98);
transition: 0.5s ease;
border-radius: 50px;
}

a {
text-decoration: none;
}


img {
width: 96%;
height: auto;
}

img:hover {
width: 96%;
height: auto;
opacity: 0.7;
filter: alpha(opacity=80);
transition: 0.3s;
}

h2 {
font-size: 52px;
margin: 50px;
letter-spacing: 32px;
text-orientation: upright;
writing-mode: vertical-rl;
}


#t {
background-color: #ffedbc;
color: #bd972e;
}

#i {
background-color: #ffccbc;
color: #bd732e;
}

#c {
background-color: #ffbcbd;
color: #bd2e54;
}

#f {
background-color: #ffdcbc;
color: #bd502e;
}

}

@media  screen and (min-width: 321px) and (max-width:960px) {

* {
margin: 0;
padding: 0;
box-sizing: border-box;
word-break: keep-all;
}

article {
display: flex;
flex-direction: row;
}

section {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: calc(100vw/2);
height: 50vh;
transition: 0.7s;
margin-top: 0;
}

section:hover {
-webkit-transform: scale(0.98);
-ms-transform: scale(0.98);
transform: scale(0.98);
transition: 0.5s ease;
border-radius: 50px;
}

a {
text-decoration: none;
}

img {
width: 100%;
height: auto;
}

h2 {
font-size: 42px;
margin: 50px;
}



#t {
background-color: #ffedbc;
color: #bd972e;
}

#i {
background-color: #ffccbc;
color: #bd732e;
}

#c {
background-color: #ffbcbd;
color: #bd2e54;
}

#f {
background-color: #ffdcbc;
color: #bd502e;
}

}
