* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

header {
     background-color: transparent;
     text-align: center;
     position: fixed;
     margin-top: 0;
     width: 100vw;
}

article {
     display: flex;
}

section {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: calc(100vw / 4);
     height: 100vh;
     transition: 0.3s;
}

#t {
     background-color: #f0b0ae;
}

#i {
     background-color: #f0c1ae;
}

#c {
     background-color: #f0d1ae;
}

#f {
     background-color:#f0e1ae;
}

#t :hover {
  background-color: #3e8e41;
  color: white;
}

#i :hover {
  background-color: #3e8e41;
  color: white;
}

#c :hover {
  background-color: #3e8e41;
  color: white;
}

#f :hover {
  background-color: #3e8e41;
  color: white;
}
