@media  screen and (min-width: 321px) and (max-width:960px) {

	* {
		line-height: 2.0;
		word-break: keep-all;
		letter-spacing: 1px;
		box-sizing: border-box;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
		scroll-behavior: smooth;
	}

	header {
		background-color: #333;
		color: #fff;
		padding: 1px;
		text-align: center;
	}

	nav ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;
		overflow: hidden;
	}

	nav ul li {
		display:inline-block;
	}

	nav ul li a {
		display: block;
		color: #333;
		text-align: center;
		padding: 14px 15px;
		text-decoration: none;
		transition: 0.3s;
	}


	article {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px;
	}

	.image-text-wrap {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	}

	#gender {
		max-width: 1000px;
		height: 500px;
	}

	.text {
		flex: 1;
		max-width: 100%;
		margin: 50px;
		font-size: 20px;
		text-align: center;
	}

	#a1 {
		max-width: 1000px;
		height: 400px;

	}

	.atext {
		flex: 1;
		max-width: 100%;
		margin: 30px;
		font-size: 20px;
		text-align: center;
	}

	#eye {

		max-width: 1000px;
		height: 500px;
	}

	#glasses {
		max-width: 450px;
		height: 500px;
	}

	section {
		margin: 10px;
	}


	footer a {
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: #333;
		color: #fff;
		padding: 10px;
		text-align: center;
		text-decoration: none;
	}
}



@media screen and (min-width: 720px) and (max-width: 1920px) {

	* {
		line-height: 2.7;
		word-break: keep-all;
		letter-spacing: 1px;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
		scroll-behavior: smooth;
	}

	header {
		background-color: #333;
		color: #fff;
		padding: 1px;
		text-align: center;
	}

	nav ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;
		overflow: hidden;
	}

	nav ul li {
		display:inline-block;
	}

	nav ul li a {
		display: block;
		color: #333;
		text-align: center;
		padding: 14px 150px;
		text-decoration: none;
		transition: 0.3s;
	}

	nav ul li a:hover {
		background-color: #ddd;
	}

	article {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px;
	}

	.image-text-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: center;
	}

	#gender {
		height:auto;
		width:20%;
		margin-right: 70px;
		margin-top: 25px;
		padding: 25px;
	}

	.text {
		flex: 1;
		max-width: 50%;
		margin: 20px;
		font-size: 20px;
	}

	#a1 {
		height:auto;
		width:20%;
		margin-left: 70px;
		order: 2;
		margin-top: 75px;
	}

	.atext {
		flex: 1;
		max-width: 50%;
		margin: 50px;
		text-align: right;
	}

	#eye {
		height:auto;
		width:20%;
	}

	#glasses {
		height:auto;
		width:20%;
	}

	section {
		margin: 10px;
	}

	#last {
		display: flex;
		flex-direction: row;
	}


	footer a {
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: #333;
		color: #fff;
		padding: 10px;
		text-align: center;
		text-decoration: none;
	}
}
