* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

header {
     background-color: transparent;
     text-align: center;
     position: fixed;
     margin-top: 400px;
     width: 100vw;
     color: white;
     font-size: 25px;
}

article {
     display: flex;
     flex-direction: row;
}

section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: calc(100vw/2);
     height: 50vh;
     transition: 0.3s;
}

a {
     text-decoration: none;
}

a:hover {
     color: ghostwhite;
}


#t {
     background-color: #f0b0ae;
}

#i {
     background-color: #f0c1ae;
}

#c {
     background-color: #f0d1ae;
}

#f {
     background-color:#f0e1ae;
}

#t a {
     color: #b71a5d;
}

#i a {
     color: #b71a23;
}

#c a {
     color: #b7701a;
}

#f a {
     color:#b7971a;
}

#t:hover {
     background-color: #f0b0ae;
     border: 10px double #b71a5d;
}

#i:hover {
     background-color: #f0c1ae;
     border: 10px double #b71a23;
}

#c:hover {
     background-color: #f0d1ae;
     border: 10px double #b7701a;
}

#f:hover {
     background-color:#f0e1ae;
     border: 10px double #b7971a;
}

#t a:hover {
     color: whitesmoke;
}

#i a:hover {
     color: whitesmoke;
}

#c a:hover {
     color: whitesmoke;
}

#f a:hover {
     color:whitesmoke;
}
